<md-toolbar color="primary">
    TV Watchlist
</md-toolbar>
<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav align="end" mode="side">
    <div class="show-detail" *ngIf="selectedShow">
      <h2>{{selectedShow.name}}</h2>
      <img [alt]="selectedShow.name" [src]="selectedShow.image.banner[0]" [title]="selectedShow.name">
      <div [innerHTML]="selectedShow.summary" style="text-align:justify;"></div>
      <md-list>
        <h3 md-subheader>Folders</h3>
        <md-list-item *ngFor="let episode_id of getKeys(selectedShow.episode_list)">
            <md-icon md-list-avatar>folder</md-icon>
            <h4 md-line>{{selectedShow.episode_list[episode_id].name}}</h4>
        </md-list-item>
        <md-divider></md-divider>
        <h3 md-subheader>Notes</h3>
        <md-list-item *ngFor="let note of notes">
            <md-icon md-list-avatar>note</md-icon>
            <h4 md-line>{{note.name}}</h4>
            <p md-line class="demo-2"> {{note.updated}} </p>
        </md-list-item>
      </md-list>
      <button md-button (click)="sidenav.close()">Close</button>
    </div>
  </md-sidenav>
  <div class="container">
    <div class="show-item" *ngFor="let show of show_list">
      <img class="show-image shadow" [alt]="show.name" [src]="show.image.poster[0]" [title]="show.name" (click)="displayDetails(show, sidenav)">
    </div>
  </div>

</md-sidenav-layout>