<md-toolbar color="primary">
    TV Watchlist
</md-toolbar>
<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav align="end" mode="side">
    <div class="show-detail" *ngIf="selectedShow">
      <h2>{{selectedShow.name}}</h2>
      <img [alt]="selectedShow.name" [src]="selectedShow.image.banner[0]" [title]="selectedShow.name">
      <div [innerHTML]="selectedShow.summary" style="text-align:justify;"></div>
      <md-list dense>
        <h3 md-subheader>Episodes</h3>
        <md-list-item *ngFor="let episode_id of getKeys(selectedShow.episode_list)" >
            <a md-line [innerHTML]="getEpisodeName(selectedShow.episode_list[episode_id])"></a>
        </md-list-item>
        <md-divider></md-divider>
      </md-list>
      <button md-button (click)="sidenav.close()">Close</button>
    </div>
  </md-sidenav>
  <div class="container">
    <div class="show-item" *ngFor="let show of show_list">
      <img class="show-image shadow" [alt]="show.name" [src]="show.image.poster[0]" [title]="show.name" (click)="displayDetails(show, sidenav)">
    </div>
  </div>

</md-sidenav-layout>